In [18]:
from pandas_datareader import data
from datetime import datetime

start_date = datetime(2021, 11, 1)
end_date = datetime(2021, 11, 15)
increase = 'Increase'
decrease = 'Decrease'
hours_in_milis = 12 * 60 * 60 * 1000

In [5]:
df = data.DataReader(name='HINDUNILVR.NS', data_source='yahoo', start=start_date, end=end_date)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-11-01,2410.899902,2368.250000,2393.000000,2407.100098,1941114.0,2407.100098
2021-11-02,2428.000000,2402.000000,2415.000000,2418.899902,1350154.0,2418.899902
2021-11-03,2434.000000,2386.199951,2434.000000,2411.350098,1591607.0,2411.350098
2021-11-08,2449.000000,2400.100098,2449.000000,2431.899902,2555533.0,2431.899902
2021-11-09,2446.199951,2416.449951,2439.800049,2431.149902,1696949.0,2431.149902
2021-11-10,2420.000000,2396.000000,2411.050049,2400.149902,1794509.0,2400.149902
2021-11-11,2406.949951,2366.199951,2402.699951,2376.199951,1282647.0,2376.199951
2021-11-12,2413.600098,2376.199951,2388.000000,2404.949951,1651974.0,2404.949951
2021-11-15,2430.000000,2404.100098,2404.100098,2424.750000,1007999.0,2424.750000

In [15]:
df['Status'] = [increase if open_ < close_ else decrease for open_, close_ in zip(df.Open, df.Close) ]
df['Middle'] = (df.Open + df.Close)/2
df['Height'] = abs(df.Open - df.Close)

In [23]:
df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2021-11-01,2410.899902,2368.250000,2393.000000,2407.100098,1941114.0,2407.100098,Increase,2400.050049,14.100098
2021-11-02,2428.000000,2402.000000,2415.000000,2418.899902,1350154.0,2418.899902,Increase,2416.949951,3.899902
2021-11-03,2434.000000,2386.199951,2434.000000,2411.350098,1591607.0,2411.350098,Decrease,2422.675049,22.649902
2021-11-08,2449.000000,2400.100098,2449.000000,2431.899902,2555533.0,2431.899902,Decrease,2440.449951,17.100098
2021-11-09,2446.199951,2416.449951,2439.800049,2431.149902,1696949.0,2431.149902,Decrease,2435.474976,8.650146
2021-11-10,2420.000000,2396.000000,2411.050049,2400.149902,1794509.0,2400.149902,Decrease,2405.599976,10.900146
2021-11-11,2406.949951,2366.199951,2402.699951,2376.199951,1282647.0,2376.199951,Decrease,2389.449951,26.500000
2021-11-12,2413.600098,2376.199951,2388.000000,2404.949951,1651974.0,2404.949951,Increase,2396.474976,16.949951
2021-11-15,2430.000000,2404.100098,2404.100098,2424.750000,1007999.0,2424.750000,Increase,2414.425049,20.649902

In [17]:
from bokeh.plotting import figure, show, output_file

In [24]:
df.index[df.Status == increase]

DatetimeIndex(['2021-11-01', '2021-11-02', '2021-11-12', '2021-11-15'], dtype='datetime64[ns]', name='Date', freq=None)

In [22]:
fig = figure(x_axis_type='datetime', width=1000, height=500)

fig.rect(df.index[df.Status == increase], df.Middle[df.Status == increase], hours_in_milis,
         df.Height[df.Status == increase], fill_color = 'green', line_color = 'black' )
fig.rect(df.index[df.Status == decrease], df.Middle[df.Status == decrease], hours_in_milis,
         df.Height[df.Status == decrease], fill_color = 'red', line_color = 'black' )
show(fig)